* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 70%;
    background-color: bisque;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.container h1 {
    padding: 2rem;
}

.content-container-1 {
    margin-bottom: 2rem;
}

.content-container-1 .para {
    line-height: 24px;
    letter-spacing: 1px;
}

.content-container-2 {
    display: none;
    
}
.para {
    line-height: 24px;
    letter-spacing: 1px;
    margin-bottom: 2rem;
    transition: 1s ease;
  
}

button {
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
    border: none;
    background-color: black;
    color: white;
    border-radius: 0.5rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    cursor: pointer;
    transition: 1s ease;
}

button:hover{
    transform: scale(0.8);
    background-color: blueviolet;
}

#hide {
    display: none;
}