* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%);

}

#switch {
    width: 0;
    height: 0;
    visibility: hidden;
}

label {
    display: block;
    height: 50px;
    width: 150px;
    background-color: #000;
    border-radius: 100px;
    transition: 0.5s;
    position: relative;
    cursor: pointer;
}
label::after {
    content: "";
    background-color:#fff;
    position: absolute;
    top: 5px;
    left: 5px;
    width: 40px;
    height: 40px;
    border-radius: 70px;
    transition: 0.5s;
}

#switch:checked + label::after {
    background-color: #000;
    left: calc(100% - 5px);
    transform: translateX(-100%);
}

#switch:checked + label {
    background-color: #fff;
}

label:active::after {
    width: 60px;
}